/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */
.header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position:fixed;
  z-index: 10;

}
.header-container {
  width: 1170px;
  margin: 0 auto;
}
.header-logo {
  width: 124px;
  padding: 20px 0;
  float: left;
}
.login {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  height: 65px;
  padding:0 25px;
  line-height: 65px;
  display: block;
  transition: all 0.6s;
}
.login:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.copy-wrapper {
  background-image:url(https://prog-8.com/images/html/advanced/top.png) ;
  background-size: cover;
  width: 100%;
}
.copy-container {
  text-align: center;
  padding: 180px 0 100px 0;
  width: 1170px;
  margin: 0 auto;
}
.copy-container h1, h2 {
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 5px;
  color:white;
  opacity: 0.7;
}
.copy-container p {
  color: white;
  opacity: 0.7;
}
.btn {
  padding: 8px 24px;
  border-radius: 5px;
  color: white;
  opacity: 0.8;
  display: inline-block;
  }
 .btn:hover {
   opacity: 1;
 }
 .registration {
   border: 2px solid #239b76;
   background-color: #239b76;
   margin: 30px 0 15px 0;
 }
 .fa {
   margin-right: 5px;
 }
 .facebook {
   border: 2px solid #3b5998;
   background-color:#3b5998;
   margin: 15px 10px 0 0;
   
 }
 .twitter {
   border: 2px solid #55acee;
   background-color: #55acee;
 }
 .lesson-wrapper {
   height: 580px;
   background-color: #f7f7f7;
   text-align: center;
   
 }
 .headering {
   font-weight: normal;
   color: #5f5d60;
   font-size: 25px;
   text-align: center;
   padding: 80px 0 50px 0;
 }
 .lessons {
   width: 1170px;
   margin: 0 auto;
 }
 .lesson {
   float: left;
   width: 25%;
   position: relative;
 }
 .lesson-icon {
   padding-bottom: 15px;
   display: block;
   margin: 0 auto;
 }
 .lesson p {
   position: absolute;
   top: 90px;
   left: 30px;
   color: white;
   text-align: center;
   width: 80%;
 }
 .txt-contents {
   width: 80%;
   font-size: 13px;
   color: #b3aeb5;
   text-align: center;
   margin :0 auto;
 }
 
.try-wrapper {
  text-align: center;
}
.try-container {
  padding: 80px 0;
}
.try-heading {
  color: #5f5d60;
}
h4 {
  font-size: 24px;
  font-weight: normal;
}
.try-heading p {
  font-size: 20px;
}
.try-btn {
  display: inline-block;
  background-color:#5dca88;
  opacity: 0.8;
  color: white;
  padding: 15px 40px;
  margin-top: 50px;
  box-shadow: 0px 7px #1a7940;
}
.try-btn:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

footer {
  border-top: 1px solid #eee;
  color: #b3aeb5;
  font-size: 12px;
}
.footer-container {
  width: 1170px;
  margin: 0 auto;
}
.footer-logo {
  float: left;
  padding: 30px 0;
}
.footer-logo img {
  width: 124px;
}
